@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


.text_main {
}
.right__grid {
}
.content__grid_right {
}
.text__grid {
}
.bottom__grid {
}
.img__bottom {
}
.text__bottom {
}
