:root{
    --color-primary: #ff0000;
}

@font-face {
    font-family: "Bitter" ;
    src: url(../storage/font/Bitter-ExtraBold.ttf);
}
@font-face {
    font-family: "Bitter-Italic" ;
    src: url(../storage/font/Bitter-Italic.ttf);
}